In [49]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.5
1.21.2

In [50]:
data_dir = "/opt/ml/klue-level2-nlp-17/dataset/train/translate_en_train.csv"
df = pd.read_csv(data_dir)
df

,id,sentence,subject_entity,object_entity,label
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,비틀즈,조지 해리슨,no_relation
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,대안신당,no_relation
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,한국프로축구연맹,org:member_of
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,아성다이소,박정부,org:top_members/employees
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,1967,no_relation
...,...,...,...,...,...
38636,38689,2008년 11월 5일 러시아 데미트리 메드베데프 대통령은 모스크바 크렘린궁에서 열...,드미트리 메드베데프,러시아,per:place_of_residence
38637,38690,장 의원은 광주일고와 서울대 행정고시를 통해 공직에 들어간 뒤 20대 상반기 기획예...,기획재정부,기획예산처,org:members
38638,38691,이에 반해 정재학의 셋째 아들인 정종원은 조흥은행 5대 총재이자 손자인 정운용 회장...,정종원,정재학,per:parents
38639,38692,그의 삼촌은 루이스 13세이며 남편 루이 14세가 사촌이 된다.,루이 14세,루이 13세,per:other_family
38640,38693,"한반도는 다시 최시형, 서병학, 손병희, 서장옥, 전봉준, 김가남 등이 리더로 나뉘...",최시형,손병희,per:colleagues

In [51]:
label_order = df["label"].value_counts(normalize=True)
label_order

no_relation                            0.246189
org:top_members/employees              0.110686
per:employee_of                        0.092260
per:title                              0.054295
per:alternate_names                    0.051603
org:member_of                          0.048239
per:spouse                             0.041148
org:alternate_names                    0.034109
per:origin                             0.031935
org:place_of_headquarters              0.030900
per:date_of_birth                      0.029244
per:colleagues                         0.027639
per:parents                            0.026811
org:founded                            0.023291
org:members                            0.021739
per:date_of_death                      0.021583
org:product                            0.019668
per:children                           0.015735
per:place_of_residence                 0.009989
per:other_family                       0.009834
per:place_of_birth                     0.008592
org:founded_by                         0.008023
per:product                            0.007194
per:siblings                           0.007039
org:political/religious_affiliation    0.005072
per:religion                           0.004969
per:schools_attended                   0.004244
org:dissolved                          0.003416
org:number_of_employees/members        0.002484
per:place_of_death                     0.002070
Name: label, dtype: float64

In [52]:
change_entity_only = ["per:colleagues", "per:other_family", "per:siblings"]
change_entity_and_label = ["org:member_of", "per:parents", "per:children"]

In [53]:
added_index = len(df)
for idx, row in df.iterrows():
    if row.label in change_entity_only:
        df.loc[added_index] = [added_index, row.sentence, row.object_entity, row.subject_entity, row.label]
    elif row.label == "org:member_of":
        df.loc[added_index] = [added_index, row.sentence, row.object_entity, row.subject_entity, "org:members"]
    elif row.label == "per:parents":
        df.loc[added_index] = [added_index, row.sentence, row.object_entity, row.subject_entity, "per:children"]
    elif row.label == "per:children":
        df.loc[added_index] = [added_index, row.sentence, row.object_entity, row.subject_entity, "per:parents"]
    added_index += 1
    
df

,id,sentence,subject_entity,object_entity,label
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,비틀즈,조지 해리슨,no_relation
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,대안신당,no_relation
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,한국프로축구연맹,org:member_of
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,아성다이소,박정부,org:top_members/employees
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,1967,no_relation
...,...,...,...,...,...
77263,77263,"스콧 황제가 1398년에 세상을 떠났고, 30년 뒤인 1428년에는 그의 씨앗인 히...",고하나조노 천황,쇼코 천황,per:other_family
77273,77273,"그러나 김양상의 형제로 보기는 어렵고, 원 왕의 왕좌에 이어 선덕왕의 조부인 원훈의...",선덕왕,원성왕,per:other_family
77279,77279,이에 반해 정재학의 셋째 아들인 정종원은 조흥은행 5대 총재이자 손자인 정운용 회장...,정재학,정종원,per:children
77280,77280,그의 삼촌은 루이스 13세이며 남편 루이 14세가 사촌이 된다.,루이 13세,루이 14세,per:other_family
77281,77281,"한반도는 다시 최시형, 서병학, 손병희, 서장옥, 전봉준, 김가남 등이 리더로 나뉘...",손병희,최시형,per:colleagues

In [54]:
print(len(df))
df.drop_duplicates(subset=["sentence", "subject_entity", "object_entity", "label"], inplace=True)
print(len(df))

43869
43356

In [55]:
import random
from koeda import AEDA

SPACE_TOKEN = "\u241F"


def replace_space(text: str) -> str:
    return text.replace(" ", SPACE_TOKEN)


def revert_space(text: list) -> str:
    clean = " ".join("".join(text).replace(SPACE_TOKEN, " ").split()).strip()
    return clean


# 이거 불러와서 AEDA 처럼 쓰시면 됩니다.
class myAEDA(AEDA):
    def _aeda(self, data: str, p: float) -> str:
        if p is None:
            p = self.ratio

        split_words = self.morpheme_analyzer.morphs(replace_space(data))
        words = self.morpheme_analyzer.morphs(data)

        new_words = []
        q = random.randint(1, int(p * len(words) + 1))
        qs_list = [
            index
            for index in range(len(split_words))
            if split_words[index] != SPACE_TOKEN
        ]
        qs = random.sample(qs_list, q)

        for j, word in enumerate(split_words):
            if j in qs:
                new_words.append(SPACE_TOKEN)
                new_words.append(
                    self.punctuations[random.randint(0, len(self.punctuations) - 1)]
                )
                new_words.append(SPACE_TOKEN)
                new_words.append(word)
            else:
                new_words.append(word)

        augmented_sentences = revert_space(new_words)

        return augmented_sentences

In [57]:
from tqdm.auto import tqdm
# from tqdm.notebook import tqdm


aeda = myAEDA(
    morpheme_analyzer="Okt", punc_ratio=0.3, punctuations=[".", ",", "!", "?", ";", ":"]
)

label_order_top = label_order.index[:9].tolist()
added_index = df.id.to_numpy()[-1] + 1
step = 0
for idx, row in tqdm(df.iterrows()):
    if row.label in label_order_top:
        continue
    df.loc[added_index] = [added_index, aeda(row.sentence), row.object_entity, row.subject_entity, row.label]
    added_index += 1

df

HBox(children=(HTML(value=''), FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0…

,id,sentence,subject_entity,object_entity,label
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,비틀즈,조지 해리슨,no_relation
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,대안신당,no_relation
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,한국프로축구연맹,org:member_of
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,아성다이소,박정부,org:top_members/employees
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,1967,no_relation
...,...,...,...,...,...
93174,93174,": 칭기스 가족인 , 보르지긴 : 은 골든( : 알탄 우루크) ; 으로 , 불리며 ...",칭기즈 칸,보르지긴,per:other_family
93175,93175,문 대통령은 지난해 시진핑 국가주석과 . 리커창 . 총리의 방중에 따뜻한 환대를 받...,시진핑,리커창,per:colleagues
93176,93176,"교수 시절 ! 인 : 2007년에는 박근혜 . 의 동생 박근령과 약혼했고, ? 지난...",박근혜,박근령,per:siblings
93177,93177,", 스콧 황제가 1398년에 세상을 떠났고, ! 30년 뒤인 ! 1428년에는 그의...",쇼코 천황,고하나조노 천황,per:other_family
93178,93178,"그러나 김양상의 형제로 보기는 어렵고 ? , 원 왕의 왕좌에 이어 선덕왕의 조부인 ...",원성왕,선덕왕,per:other_family

In [58]:
df.to_csv("/opt/ml/klue-level2-nlp-17/dataset/train/train_translate_entities_aeda_augmented.csv", index=False)

In [62]:
df[:5]

,id,sentence,subject_entity,object_entity,label
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,비틀즈,조지 해리슨,no_relation
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,대안신당,no_relation
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,한국프로축구연맹,org:member_of
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,아성다이소,박정부,org:top_members/employees
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,1967,no_relation